{
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 60,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
