@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Open+Sans&family=Oswald:wght@400;500&display=swap');

.body{
    background-color:rgb(62, 16, 88);
    text-align: center;
}

.body .textContainer{
    width:80%;
    margin: auto;
    max-width: 600px;
}

.textContainer h1{
    color:white;
    font-family: 'Figtree', sans-serif;
}
.textContainer h2{
    color:white;
    font-family: 'Figtree', sans-serif;
}

.body .textContainer p{
    color:white;
    font-family: 'Figtree', sans-serif;
}