
@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Open+Sans&family=Oswald:wght@400;500&display=swap');

body{
    margin:0px;
    background-color:rgb(62, 16, 88);
}

.header{
    display:flex;
    
    background: rgb(102,40,156);
    background: linear-gradient(90deg, rgba(102,40,156,1) 0%, rgba(32,29,56,1) 100%);
}

.header img{
    width:40%;
    max-width: 150px;
    max-height: 225px;
}

.header .title {
    padding-left:5%;
    text-align:left;
    width:auto;
    color:whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background-color:rgb(46, 46, 46);
    display:flex;
    flex-wrap: wrap
}

.navbar a div{
    flex:20%;
    background-color:rgb(46, 46, 46);
    color:whitesmoke;
    padding:1rem;
    padding-top:0.75rem;
    min-width: 75px;
    font-size:1.3rem;
    transition: 300ms;
    font-family: 'Oswald', sans-serif;
}

.navbar a:link{
    text-decoration:none;
}
.navbar a:visited{
    text-decoration:none;
}
.navbar a:hover{
    text-decoration:none;
}
.navbar a:active{
    text-decoration:none;
}
.navbar a div:hover{
    background-color:rgb(109, 56, 122);
}

.custom-shape-divider-top-1660162422 {
    
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1660162422 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 80px;
    background-color:rgb(62, 16, 88) ;
}

.custom-shape-divider-top-1660162422 .shape-fill {
    fill: rgb(46, 46, 46);
}

.body{
    background-color:rgb(62, 16, 88);
    text-align: center;
}

.body .textContainer{
    width:80%;
    margin: auto;
    max-width: 600px;
}

.body .textContainer p{
    height:200px;
    color:white;
    font-family: 'Figtree', sans-serif;
}